<section class="pt-5 pb-5">
  <!-- multi card carousel -->
  <!-- <div class="container">
    <div class="row">
      <div class="col-6">
        <h3 class="mb-3">Carousel cards title </h3>
      </div>
      <div class="col-6 text-right">
        <a class="btn btn-primary mb-3 mr-1" href="#changeCarouselId" role="button" data-slide="prev">
          <i class="fa fa-arrow-left"></i>
        </a>
        <a class="btn btn-primary mb-3 " href="#changeCarouselId" role="button" data-slide="next">
          <i class="fa fa-arrow-right"></i>
        </a>
      </div>
      <div class="col-12">
        <div id="changeCarouselId" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-md-4 mb-3" *ngFor="let data of carouselData">
                  <div class="card" style="height: 100%;">
                    <div *ngIf="data.type == 'img'; else video">
                      <img class="img-fluid" alt="100%x280" src="{{data.src}}">
                    </div>
                    <ng-template #video>
                      <video class="video-fluid" autoplay loop muted>
                        <source src="{{data.src}}" type="video/mp4" />
                      </video>
                    </ng-template>
                    <div class="card-body">
                      <h4 class="card-title">{{data.title}}</h4>
                      <p class="card-text">{{data.decs}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-md-4 mb-3" *ngFor="let data of carouselData">
                  <div class="card" style="height: 100%;">
                    <div *ngIf="data.type == 'img'; else video">
                      <img class="img-fluid" alt="100%x280" src="{{data.src}}">
                    </div>
                    <ng-template #video>
                      <video class="video-fluid" autoplay loop muted>
                        <source src="{{data.src}}" type="video/mp4" />
                      </video>
                    </ng-template>
                    <div class="card-body">
                      <h4 class="card-title">{{data.title}}</h4>
                      <p class="card-text">{{data.decs}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-md-4 mb-3" *ngFor="let data of carouselData">
                  <div class="card" style="height: 100%;">
                    <div *ngIf="data.type == 'img'; else video">
                      <img class="img-fluid" alt="100%x280" src="{{data.src}}">
                    </div>
                    <ng-template #video>
                      <video class="video-fluid" autoplay loop muted>
                        <source src="{{data.src}}" type="video/mp4" />
                      </video>
                    </ng-template>
                    <div class="card-body">
                      <h4 class="card-title">{{data.title}}</h4>
                      <p class="card-text">{{data.decs}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- multi card carousel end -->

  <!-- single card carousel -->
  <div class="container-fuild" style="width: 100%; text-align:center;margin:0; padding:0;">
    <ng-image-slider #nav [images]="imageObject" [infinite]="true" [autoSlide]="1" [videoAutoPlay]="true"
      [animationSpeed]="0.8" [manageImageRatio]='true' [showVideoControls]="false"
      [imageSize]="{width: '30%', height: 'auto'}" slideImage="1">
    </ng-image-slider>
  </div>
  <!-- single card carousel end -->
</section>
